body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
p{
    font-size: 8px;
}
h1 {
    font-size: 35px;
}

.container-header {
    height: 67vh;
    width: 100vw; 

    background-image: url('/Users/ColineX/Desktop/P3_C2_Interface_statique_adaptable/images/mastehead.jpg') no-repeat center center/cover;
    background-size: 250%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border: solid blue;
    background-color: grey;
}
    

   .description{
        border: solid red;
        padding-left: 10%;
        padding-right: 60%;
        padding-bottom: 20%;
        /*color: white;*/
   }
